.container {
    display: grid;
}


#initial-search-screen > h1, h2 {
    grid-area: header header; 
}

#initialSearch {
    grid-area: main;
}

#advisory-submit {
    grid-area: footer;
}

#initial-search-screen {
    grid-template-columns: auto;
    grid-template-rows: 25% 25% 100px;
    gap: 15px 50px;
    justify-items: center;
    grid-template-areas: 
        ". . header header . ."
        ". . main . ."
        ". . footer footer . ."
}

#advisory-results-screen {
    grid-template-columns: auto;
    grid-template-rows: 15% 35% 25% 15%;
    gap: 25px 50px;
    justify-items: center;
}